# **Binary Trees**

**Problem** :
As a senior backend engineer, you are tasked with developing a fast in-memory data structure to manage profile information (username, name and email) for 100 million users. it should allow the following operations to be perfomred efficiently:

1. **Insert** the profile information for a new user
2. **Find** the profile information of a user, given their username
3. **Update** the profile information of a user, given their username
4. **List** the users of the platform, sorted by username

## **The Method**

Here's a systematic strategy we'll aplly for solving problems,


**Problem**

> We need to create a data structure which can store 100 million records and perform insertion, search, update and list operations efficiently.

**Input**
The key inputs to our data structure are user profiles, which contain the username, name and email.

A python class would be a great way to represent the information for a user. A class is ablueprint for creating objects. Everything in python is an object belonging to some class. Here's the simple possible class in python, with nothing in it:

In [ ]:
class User:
  pass

We can create or instantiate an object of the class by calling it like a function

In [ ]:
user1 = User()

We can verify that the object is of the class ```User```

In [ ]:
user1

In [ ]:
type(user1)

__main__.User

the object ```user1``` does not contain any useful information. let's add a *constructor* method to the class to store attributes or properties.

In [ ]:
class User:
  def __init__(self, username, name, email) :
    self.username = username
    self.name = name
    self.email = email
    print("User created")

We can now create an object with some properties

In [ ]:
user2 = User('raj','Rajendran','asrajendrayadav@gmail.com')

User created

In [ ]:
user2.name

'Rajendran'

In [ ]:
user2

In [ ]:
user2.name, user2.username, user2.email

('Rajendran', 'raj', 'asrajendrayadav@gmail.com')

In [ ]:
class User:
  def __init__(self, username, name, email) :
    self.username = username
    self.name = name
    self.email = email

  def introduce_yourself(self, guest_name) :
    print(f"Hi {guest_name}, I'm {self.name}! Contact me at {self.email}")

In [ ]:
user3 = User('Rahul','Rahul Nagaraj', 'rahulnagaraj@gmail.com')

In [ ]:
user3.introduce_yourself('Priya')

Hi Priya, I'm Rahul Nagaraj! Contact me at rahulnagaraj@gmail.com

In [ ]:
User.introduce_yourself(user3, 'David')

Hi David, I'm Rahul Nagaraj! Contact me at rahulnagaraj@gmail.com

Finally, we'll define a couple of helper methods to display user objects nicely within Jupyter

In [ ]:
class User:
  def __init__(self, username, name, email) :
    self.username = username
    self.name = name
    self.email = email

  def __repr__(self):
    return f"User(username = '{self.username}', name = '{self.name}', email = '{self.email}')"

  def __str__(self):
    return self.__repr__()

In [ ]:
user4 = User('manisha', 'manisha agarwal', 'manishagl@gmail.com')

In [ ]:
user4

User(username = 'manisha', name = 'manisha agarwal', email = 'manishagl@gmail.com')

We can also express our desired data structure as python class ```UserDatabase``` with four methods : ```insert```, ```find```, ```update``` and ```list_all```

In [ ]:
class UserDatabase :
  def insert(self, user):
    pass

  def find(self, username):
    pass

  def update(self, user):
    pass

  def list_all(self):
    pass

In [ ]:
aakash = User('aakash', 'Askash Rai', 'aakash@example.com')
austin = User('austin', 'Austin Cooper', 'austin@example.com')
brianna = User('brianna', 'Brianna Taylor', 'brianna@example.com')
carlos = User('carlos', 'Carlos Sanchez', 'carlos@example.com')
daisy = User('daisy', 'Daisy Martinez', 'daisy@example.com')
elijah = User('elijah', 'Elijah Turner', 'elijah@example.com')
fiona = User('fiona', 'Fiona Adams', 'fiona@example.com')
gavin = User('gavin', 'Gavin Wallace', 'gavin@example.com')
hannah = User('hannah', 'Hannah Foster', 'hannah@example.com')
ian = User('ian', 'Ian Anderson', 'ian@example.com')
julia = User('julia', 'Julia Carter', 'julia@example.com')

In [ ]:
users = [ aakash, austin, brianna, carlos, daisy, elijah, fiona, gavin, hannah, ian, julia]

In [ ]:
elijah.username, elijah.name, elijah.email

('elijah', 'Elijah Turner', 'elijah@example.com')

In [ ]:
elijah

User(username = 'elijah', name = 'Elijah Turner', email = 'elijah@example.com')

In [ ]:
users

[User(username = 'aakash', name = 'Askash Rai', email = 'aakash@example.com'),
 User(username = 'austin', name = 'Austin Cooper', email = 'austin@example.com'),
 User(username = 'brianna', name = 'Brianna Taylor', email = 'brianna@example.com'),
 User(username = 'carlos', name = 'Carlos Sanchez', email = 'carlos@example.com'),
 User(username = 'daisy', name = 'Daisy Martinez', email = 'daisy@example.com'),
 User(username = 'elijah', name = 'Elijah Turner', email = 'elijah@example.com'),
 User(username = 'fiona', name = 'Fiona Adams', email = 'fiona@example.com'),
 User(username = 'gavin', name = 'Gavin Wallace', email = 'gavin@example.com'),
 User(username = 'hannah', name = 'Hannah Foster', email = 'hannah@example.com'),
 User(username = 'ian', name = 'Ian Anderson', email = 'ian@example.com'),
 User(username = 'julia', name = 'Julia Carter', email = 'julia@example.com')]

The various functions can be implemented as follows:


1. **Insert** : loop through the list and add the new user at a position that keeps the list sorted

2. **Find** : Loop through the list and find the user object with the username matching the query

3. **Update** : Loop through the list, find the user object matching the query and update the details

4. **List** : Return the list of user objects


we can use the fact usernames, which are strins can be compared using <, > and == operators

In [ ]:
'raj' > 'malai'

True

In [ ]:
class UserDatabase:
  def __init__(self):
    self.users = []

  def insert(self, user):
    i = 0
    while i < len(self.users):
      # Find the first username greater than the new user's username
      if self.users[i].username > user.username :
        break
      i += 1
    self.users.insert(i,user)

  def find(self, username):
    for user in self.users :
      if user.username == username :
        return user

  def update(self, user):
    target = self.find(user.username)
    target.name, target.email = user.name, user.email

  def list_all(self):
    return self.users

We can create a new database of users by instantiating and object of the ```UserDatabase``` class

In [ ]:
database = UserDatabase()

In [ ]:
database.insert(daisy)
database.insert(elijah)
database.insert(ian)

In [ ]:
user = database.find('daisy')

In [ ]:
user

User(username = 'daisy', name = 'Daisy Martinez', email = 'daisy@example.com')

In [ ]:
database.update(User(username = 'daisy', name = 'Daisy Julian', email = 'daisy@example.com'))

In [ ]:
user = database.find('daisy')
user

User(username = 'daisy', name = 'Daisy Julian', email = 'daisy@example.com')

In [ ]:
database.list_all()     # listed in alphabetical order

[User(username = 'daisy', name = 'Daisy Julian', email = 'daisy@example.com'),
 User(username = 'elijah', name = 'Elijah Turner', email = 'elijah@example.com'),
 User(username = 'ian', name = 'Ian Anderson', email = 'ian@example.com')]

In [ ]:
database.insert(aakash)

In [ ]:
database.list_all()

[User(username = 'aakash', name = 'Askash Rai', email = 'aakash@example.com'),
 User(username = 'daisy', name = 'Daisy Julian', email = 'daisy@example.com'),
 User(username = 'elijah', name = 'Elijah Turner', email = 'elijah@example.com'),
 User(username = 'ian', name = 'Ian Anderson', email = 'ian@example.com')]

**Analyse the algorithm's complexity and identify inefficienies**

The time complexities of various operations are listed below:

1. Insert   : O(N)
2. Find     : O(N)
3. Update   : O(N)
4. List     : O(1)

To get a sense of how long each function might take if there are 100 million users on the platform,  we cn simple run a ```for``` loop on 10 million numbers

In [ ]:
import time

start_time = time.time()

for i in range(100000000):
    j = i * i

end_time = time.time()
execution_time = end_time - start_time

print(f"Execution time: {execution_time} seconds")

Execution time: 16.677894830703735 seconds

It takes almost 16 seconds to execute all the iterations in the above cell

- A 16-second delay for fetching user profiles will lead to a suboptimal users experience and may cause many users to stop using the platform altogether.

- The 16-second processing time for each profile request will also significantly limit the number of users that can access the paltform at a time or increase the cloud infrastructure costs or the company by millions of dollars.


As a senior backend engineer, you must come up with a more efficient data structure! Choosing the right data structure for the requirements at hand is an important skil. It's apparent that a sorted list of users might not be the best structure to organize profile information for millions of users.

We can limit the number of iteration required for common operations like find, insert and update by organizing our data in the followind structure, called **binary tree**

It is called a tree because it vaguely looks like an inverted tree trunk with branches

- The word 'binary' indicates that each 'node' in the tree can have at most 2 chidren (left or right)

- Nodes can have 0, 1 or 2 children. Nodes that do not have any children are sometimes called as 'leaves'

- The single node at the top is called as 'root node' and it typically where operations like search, update begins.

# **Balanced Binary Trees**

For our use case, we need a binary tree to have some additional properties ðŸ‡°
1. **Keys and Values** : Each node of the tree stores a key (a username) and a value (a user object). A binary tree where nodes have both a ke and a value is often referred to as map or treemap (because it maps a key to the values)

2. **Binary Search Tree** : The left subtree of any node only contains nodes with keys that are lexicographically smaller than node's key, and the right subtree of any node only contains nodes with keys that are lexicographically larger than the node's key. A tree that satisfies this property is called a binary search tree, and it's easy to locate a specific key by traversing a single path down from the root node.

3. **Balanced Tree** : The tree is balanced. i.e : it does not skew too heavily to one side or the other. The left and right subtrees of any node shouldn't differ in height / depth by more than 1 level

### **Height of a Binary Tree**

The number of levels in a tree is called its height. Each level of a tree contains twice as many nodes as the previous level.

For a tree of height k, here's a list of the number of nodes at each level:

Level 0 : 1
Level 1 : 2
Level 2 : 4 i.e 2^2
Level 3 : 8 i.e 2^3

....


Level k : 2^k


if the total number of nodes in the tree is ```N```, then it follows that

> N = 1 + 2^1 + 2^2 + 2^3 + ... + 2^(k-1)


We can simplify this equation by assing one on each side

> N + 1 = 1 +  1 + 2^1 + 2^2 + 2^3 + ... + 2^(k-1)

> N + 1 = 2^1 + 2^1 + 2^2 + 2^3 + ... + 2^(k-1)

> N + = 2^2 + 2^2 + 2^3 + ... + 2^(k-1)

...


> N + 1 = 2 ^ (k-1) + 2^(k-1)

> N + 1 = 2 ^ k

> k = log(N +1) <= log(N) + 1


Thus, to store N records, we require a balanced binary search tree (BST) of height no larger than log(N) + 1. this is a very useful property, in combination with the fact that nodes are arranged in a way that makes it easy to find a specific key by following a single path down from the root.

therefore, by using binary trees, the ```insert, find and update``` operations in a balanced BST have a time complexity of ```O(log N)``` since they all involve traversing a single path down from the root of the tree.

To begin, we'll create a sinple binary tree containing numers as keys within nodes.

In [ ]:
class TreeNode:
  def __init__(self, key):
    self.key = key
    self.left = None
    self.right = None

Let;s create objects representing each node of the above tree

In [ ]:
node0 = TreeNode(3)
node1 = TreeNode(4)
node2 = TreeNode(5)

In [ ]:
node0

In [ ]:
node0.left = node1
node0.right = node2

let's create a new variable tree which simply points to root node, and use it to access all the nodes within the tree

In [ ]:
tree = node0

In [ ]:
tree.key

3

In [ ]:
tree.left.key

4

In [ ]:
tree.right.key

5

let's try to create a new tree of a bit more complicated one

In [ ]:
node0 = TreeNode(2)
node1 = TreeNode(3)
node2 = TreeNode(5)
node11 = TreeNode(1)
node21 = TreeNode(3)
node22 = TreeNode(7)
node212 = TreeNode(4)
node221 = TreeNode(6)
node222 = TreeNode(8)

In [ ]:
node0.left = node1
node0.right = node2

node1.left = node11

node2.left = node21
node2.right = node22

node21.right = node212

node22.left = node221
node22.right = node222

In [ ]:
tree = node0

In [ ]:
tree.key

2

In [ ]:
tree.left.key

3

In [ ]:
tree.right.key

5

In [ ]:
tree.left.left.key

1